<!DOCTYPE html>
<html lang="end">
<head>
    <meta charset="UTF-8">
    <title> CoinAlgos </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

Please click the link below to reset your password:

<br>

<p>
<a href="{{ password_reset_url }}">{{ password_reset_url }}</a>
</p>
