{% extends "auth.html" %}

{% block title %}Forgot Password{% endblock %}
{% block h1_message %}Forgot Your Password?{% endblock %}

{% block form %}
<form action="/forgot-password" method='POST'>
  <div class="form-group">
    <input type="email" name="email" class="form-control form-control-user" placeholder="Enter Email Address...">
  </div>
  <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
</form>
<hr>
<div class="text-center">
  <a class="small" href="/register">Create an Account!</a>
</div>
<div class="text-center">
  <a class="small" href="/login">Already have an account? Login!</a>
</div>
{% endblock %}